#div1
{
    width: 100px;
    height: 100px; ;
    position: absolute ;
    background-color:red ;
    left: 580px;
    top: 270px;
    box-shadow: rgb(7, 9, 12) 1px 1px;                     
  z-index: 1;  
  

    
}
#div2
{
    width: 100px;
    height: 100px; 
    position: absolute ;
    background-color: yellow;
    left: 550px;
    top: 240px;
    box-shadow: rgb(7, 9, 12) 1px 1px;
    
    z-index: 2;
}

    

    #div3
    {
        width: 100px;
        height: 100px; ;
        position: absolute ;
        background-color:green;
        left: 520px;
        top: 210px;
        box-shadow: rgb(7, 9, 12) 1px 1px;
        
        z-index: 3;
    }

        #div4
        {
            width: 100px;
            height: 100px; ;
            position: absolute ;
            background-color:brown;
            left: 490px;
            top: 180px;
            box-shadow: rgb(7, 9, 12) 1px 1px;
            
            z-index: 4 ;
        }
        
        
        #div5
        {
            width: 100px;
            height: 100px; ;
            position: absolute ;
            background-color: blue;
            left: 460px;
            top: 150px;
            box-shadow: rgb(7, 9, 12) 1px 1px;
            
            z-index: 5 ;
        }
